.DS_Store

/.sass-cache/
/app/css/

/build/
/reports/

**.log

**/.bin
node_modules/
.idea/
app/bower_components
 .idea/workspace.xml
node_modules/gulp-flatten

# dep: phantomjs - Ignore platform dependent binaries.
node_modules/phantomjs/lib/location.js
node_modules/phantomjs/lib/phantom/ChangeLog
node_modules/phantomjs/lib/phantom/LICENSE.BSD
node_modules/phantomjs/lib/phantom/README.md
node_modules/phantomjs/lib/phantom/bin/phantomjs
node_modules/phantomjs/lib/phantom/examples/arguments.coffee
node_modules/phantomjs/lib/phantom/examples/arguments.js
node_modules/phantomjs/lib/phantom/examples/child_process-examples.coffee
node_modules/phantomjs/lib/phantom/examples/child_process-examples.js
node_modules/phantomjs/lib/phantom/examples/colorwheel.coffee
node_modules/phantomjs/lib/phantom/examples/colorwheel.js
node_modules/phantomjs/lib/phantom/examples/countdown.coffee
node_modules/phantomjs/lib/phantom/examples/countdown.js
node_modules/phantomjs/lib/phantom/examples/detectsniff.coffee
node_modules/phantomjs/lib/phantom/examples/detectsniff.js
node_modules/phantomjs/lib/phantom/examples/direction.coffee
node_modules/phantomjs/lib/phantom/examples/direction.js
node_modules/phantomjs/lib/phantom/examples/echoToFile.coffee
node_modules/phantomjs/lib/phantom/examples/echoToFile.js
node_modules/phantomjs/lib/phantom/examples/features.coffee
node_modules/phantomjs/lib/phantom/examples/features.js
node_modules/phantomjs/lib/phantom/examples/fibo.coffee
node_modules/phantomjs/lib/phantom/examples/fibo.js
node_modules/phantomjs/lib/phantom/examples/follow.coffee
node_modules/phantomjs/lib/phantom/examples/follow.js
node_modules/phantomjs/lib/phantom/examples/hello.coffee
node_modules/phantomjs/lib/phantom/examples/hello.js
node_modules/phantomjs/lib/phantom/examples/imagebin.coffee
node_modules/phantomjs/lib/phantom/examples/imagebin.js
node_modules/phantomjs/lib/phantom/examples/injectme.coffee
node_modules/phantomjs/lib/phantom/examples/injectme.js
node_modules/phantomjs/lib/phantom/examples/ipgeocode.coffee
node_modules/phantomjs/lib/phantom/examples/ipgeocode.js
node_modules/phantomjs/lib/phantom/examples/loadspeed.coffee
node_modules/phantomjs/lib/phantom/examples/loadspeed.js
node_modules/phantomjs/lib/phantom/examples/loadurlwithoutcss.coffee
node_modules/phantomjs/lib/phantom/examples/loadurlwithoutcss.js
node_modules/phantomjs/lib/phantom/examples/modernizr.js
node_modules/phantomjs/lib/phantom/examples/module.coffee
node_modules/phantomjs/lib/phantom/examples/module.js
node_modules/phantomjs/lib/phantom/examples/movies.coffee
node_modules/phantomjs/lib/phantom/examples/movies.js
node_modules/phantomjs/lib/phantom/examples/netlog.coffee
node_modules/phantomjs/lib/phantom/examples/netlog.js
node_modules/phantomjs/lib/phantom/examples/netsniff.coffee
node_modules/phantomjs/lib/phantom/examples/netsniff.js
node_modules/phantomjs/lib/phantom/examples/outputEncoding.coffee
node_modules/phantomjs/lib/phantom/examples/outputEncoding.js
node_modules/phantomjs/lib/phantom/examples/page_events.coffee
node_modules/phantomjs/lib/phantom/examples/page_events.js
node_modules/phantomjs/lib/phantom/examples/pagecallback.coffee
node_modules/phantomjs/lib/phantom/examples/pagecallback.js
node_modules/phantomjs/lib/phantom/examples/phantomwebintro.coffee
node_modules/phantomjs/lib/phantom/examples/phantomwebintro.js
node_modules/phantomjs/lib/phantom/examples/pizza.coffee
node_modules/phantomjs/lib/phantom/examples/pizza.js
node_modules/phantomjs/lib/phantom/examples/post.coffee
node_modules/phantomjs/lib/phantom/examples/post.js
node_modules/phantomjs/lib/phantom/examples/postserver.coffee
node_modules/phantomjs/lib/phantom/examples/postserver.js
node_modules/phantomjs/lib/phantom/examples/printenv.coffee
node_modules/phantomjs/lib/phantom/examples/printenv.js
node_modules/phantomjs/lib/phantom/examples/printheaderfooter.coffee
node_modules/phantomjs/lib/phantom/examples/printheaderfooter.js
node_modules/phantomjs/lib/phantom/examples/printmargins.coffee
node_modules/phantomjs/lib/phantom/examples/printmargins.js
node_modules/phantomjs/lib/phantom/examples/rasterize.coffee
node_modules/phantomjs/lib/phantom/examples/rasterize.js
node_modules/phantomjs/lib/phantom/examples/render_multi_url.coffee
node_modules/phantomjs/lib/phantom/examples/render_multi_url.js
node_modules/phantomjs/lib/phantom/examples/run-jasmine.coffee
node_modules/phantomjs/lib/phantom/examples/run-jasmine.js
node_modules/phantomjs/lib/phantom/examples/run-qunit.coffee
node_modules/phantomjs/lib/phantom/examples/run-qunit.js
node_modules/phantomjs/lib/phantom/examples/scandir.coffee
node_modules/phantomjs/lib/phantom/examples/scandir.js
node_modules/phantomjs/lib/phantom/examples/seasonfood.coffee
node_modules/phantomjs/lib/phantom/examples/seasonfood.js
node_modules/phantomjs/lib/phantom/examples/server.coffee
node_modules/phantomjs/lib/phantom/examples/server.js
node_modules/phantomjs/lib/phantom/examples/serverkeepalive.coffee
node_modules/phantomjs/lib/phantom/examples/serverkeepalive.js
node_modules/phantomjs/lib/phantom/examples/simpleserver.coffee
node_modules/phantomjs/lib/phantom/examples/simpleserver.js
node_modules/phantomjs/lib/phantom/examples/sleepsort.coffee
node_modules/phantomjs/lib/phantom/examples/sleepsort.js
node_modules/phantomjs/lib/phantom/examples/stdin-stdout-stderr.coffee
node_modules/phantomjs/lib/phantom/examples/stdin-stdout-stderr.js
node_modules/phantomjs/lib/phantom/examples/technews.coffee
node_modules/phantomjs/lib/phantom/examples/technews.js
node_modules/phantomjs/lib/phantom/examples/tweets.coffee
node_modules/phantomjs/lib/phantom/examples/tweets.js
node_modules/phantomjs/lib/phantom/examples/universe.js
node_modules/phantomjs/lib/phantom/examples/unrandomize.coffee
node_modules/phantomjs/lib/phantom/examples/unrandomize.js
node_modules/phantomjs/lib/phantom/examples/useragent.coffee
node_modules/phantomjs/lib/phantom/examples/useragent.js
node_modules/phantomjs/lib/phantom/examples/version.coffee
node_modules/phantomjs/lib/phantom/examples/version.js
node_modules/phantomjs/lib/phantom/examples/waitfor.coffee
node_modules/phantomjs/lib/phantom/examples/waitfor.js
node_modules/phantomjs/lib/phantom/examples/walk_through_frames.coffee
node_modules/phantomjs/lib/phantom/examples/walk_through_frames.js
node_modules/phantomjs/lib/phantom/examples/weather.coffee
node_modules/phantomjs/lib/phantom/examples/weather.js
node_modules/phantomjs/lib/phantom/third-party.txt
# enddep: phantomjs

# dep: gulp - Ignore platform dependent binaries.
node_modules/gulp/node_modules/v8flags/3.14.5.9.flags.json
# enddep: gulp

# dep: browser-sync - Ignore platform dependent binaries.
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Makefile
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/.deps/Release/bufferutil.node.d
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/.deps/Release/obj.target/bufferutil/src/bufferutil.o.d
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/.deps/Release/obj.target/validation/src/validation.o.d
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/.deps/Release/validation.node.d
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/bufferutil.node
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/linker.lock
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/obj.target/bufferutil/src/bufferutil.o
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/obj.target/validation/src/validation.o
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/validation.node
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/binding.Makefile
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/bufferutil.target.mk
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/config.gypi
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/gyp-mac-tool
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/validation.target.mk
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Makefile
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/.deps/Release/bufferutil.node.d
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/.deps/Release/obj.target/bufferutil/src/bufferutil.o.d
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/.deps/Release/obj.target/validation/src/validation.o.d
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/.deps/Release/validation.node.d
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/bufferutil.node
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/linker.lock
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/obj.target/bufferutil/src/bufferutil.o
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/obj.target/validation/src/validation.o
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/Release/validation.node
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/binding.Makefile
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/bufferutil.target.mk
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/config.gypi
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/gyp-mac-tool
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/validation.target.mk
# enddep: browser-sync

# dep: karma-htmlfile-reporter - Ignore platform dependent binaries.
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/.target.mk
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Makefile
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/.deps/Release/.node.d
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/.deps/Release/fse.node.d
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/.deps/Release/obj.target/fse/fsevents.o.d
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/.node
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/fse.node
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/linker.lock
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/Release/obj.target/fse/fsevents.o
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/binding.Makefile
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/config.gypi
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/fse.target.mk
node_modules/karma/node_modules/chokidar/node_modules/fsevents/build/gyp-mac-tool
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Makefile
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/.deps/Release/bufferutil.node.d
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/.deps/Release/obj.target/bufferutil/src/bufferutil.o.d
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/.deps/Release/obj.target/validation/src/validation.o.d
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/.deps/Release/validation.node.d
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/bufferutil.node
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/linker.lock
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/obj.target/bufferutil/src/bufferutil.o
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/obj.target/validation/src/validation.o
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/validation.node
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/binding.Makefile
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/bufferutil.target.mk
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/config.gypi
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/gyp-mac-tool
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/validation.target.mk
# enddep: karma-htmlfile-reporter
